@mixin handle-mixin {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

@mixin track-mixin {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.sliderContainer {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background: var(--faded-color);
    top: 7px;
    z-index: -1;
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  background-color: transparent;
  height: 6px;
  border-radius: 3px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    @include handle-mixin;
  }

  /* All the same stuff for Firefox */
  &::-moz-range-thumb {
    @include handle-mixin;
  }

  /* All the same stuff for IE */
  &::-ms-thumb {
    @include handle-mixin;
  }
}

.track {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  transform-origin: left;
  position: absolute;
  background: var(--contrast-color);
  top: 7px;
  z-index: -1;
}
